.small-font {
    font-size: 34px;
    font-family: "Roboto Slab",Roboto;
}
.medium-font {
    font-size: 45px;
    font-family: "Roboto Slab",Roboto;
}
.large-font {
    font-size: 56px;
    font-family: "Roboto Slab",Roboto;
}
.title-style {
    margin-left: 10px;
}
.block-style {
    padding: 10px;
    margin: 10px;
}
