<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>

    <link href="{{url_for('static', filename='css/materialize.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav>
    <div class="nav-wrapper orange accent-3">
        <a href="{{url_for('getHomePage')}}" class="brand-logo title-style">Grade Predictor and Analyzer</a>
    </div>
</nav>
<div class="card hoverable block-style blue-grey darken-5">
    <div class="card-content white-text">
        <span class="card-title">Change Password</span>
        <form action="{{url_for('forgotPassword')}}" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input name="user-id" placeholder="User ID" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name="usermail" placeholder="Email ID" type="email" class="validate">
                </div>
            </div>
            <div class="row">
                <button name="action" class="btn waves-effect waves-light blue-grey darken-4">Confirm
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>