<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade Predictor and Analyzer</title>

    <link href="{{url_for('static', filename='css/materialize.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body {
            background-image: url('../static/img/home.jpeg');
        }
    </style>

</head>
<body>
<nav>
    <div class="nav-wrapper orange accent-3">
        <a href="{{url_for('getHomePage')}}" class="brand-logo title-style">Grade Predictor and Analyzer</a>
    </div>
</nav>
<div class="row block-style">
    <form class="col s4 offset-s4 card-panel white" action="{{url_for('getHomePage')}}" method="POST">
        <div class="row">
            <h4 class="center">Login</h4>
            <hr>
        </div>
        <div class="row block-style">
            <div class="input-field col s12">
                <input name="bits-id" placeholder="20XXYYZZDDDD" id="bits_id" class="validate">
                <label class="active" for="bits_id">BITS ID</label>
            </div>
        </div>
        <div class="row block-style">
            <div class="input-field col s12">
                <input name="password" id="password" type="password" class="validate">
                <label class="active" for="password">Password</label>
            </div>
        </div>
        <div class="row center">
            <button name="action" class="btn waves-effect waves-light orange darken-4">Submit</button>
        </div>
        {% if error %}
        <div class="row center">
            <p class="error center">{{error}}</p>
        </div>
        {% endif %}
    </form>
</div>
</div>
</div>
</body>
</html>