<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade Predictor and Analyzer</title>

    <link href="{{url_for('static', filename='css/materialize.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body {
            background-image: url('../static/img/home.jpeg');
        }
    </style>

</head>
<body>
<nav>
    <div class="nav-wrapper orange accent-3">
        <a href="/" class="brand-logo title-style">Grade Predictor and Analyzer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="large-font"><a href="/courses">Courses</a></li>
            <li class="large-font"><a href="/predictions">Predictor</a></li>
        </ul>
    </div>
</nav>
<div class="row block-style">
    <form class="col s4 offset-s4 card-panel white">
        <div class="row">
            <h4 class="center">Login</h4>
            <hr>
        </div>
        <div class="row block-style">
            <div class="input-field col s12">
                <input placeholder="20XXYYZZDDDD" id="bits_id" class="validate">
                <label class="active" for="bits_id">BITS ID</label>
            </div>
        </div>
        <div class="row block-style">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label class="active" for="password">Password</label>
            </div>
        </div>
        <div class="row center">
            <button class="btn waves-effect waves-light orange darken-4" name="action">Submit</button>
        </div>
    </form>
</div>
</div>
</div>
</body>
</html>