<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade Predictor and Analyzer</title>

    <link href="{{url_for('static', filename='css/materialize.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<nav>
    <div class="nav-wrapper orange accent-3">
        <a href="/" class="brand-logo title-style">Grade Predictor and Analyzer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="large-font"><a href="/courses">Courses</a></li>
            <li class="large-font"><a href="/predictions">Predictor</a></li>
        </ul>
    </div>
</nav>
</div>
<div class="row">
    <div class="col s4 card-panel">
        <div class="center"><i class="large material-icons">account_circle</i></div>
        <p class="block-style">We did most of the heavy lifting for you to provide a default stylings that incorporate
            our custom components.</p>
    </div>
    <div class="col s4 card-panel">
        <div class="center"><i class="large material-icons">assignment</i></div>
        <p class="block-style">By utilizing elements and principles of Material Design, we were able to create a
            framework that focuses on User Experience.</p>
    </div>
    <div class="col s4 card-panel">
        <div class="center"><i class="large material-icons">mail</i></div>
        <p class="block-style">We have provided detailed documentation as well as specific code examples to help new
            users get started.</p>
    </div>

</div>
</body>
</html>