<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <link href="{{url_for('static', filename='css/materialize.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<nav>
    <div class="nav-wrapper orange accent-3">
        <a href="{{url_for('getCourses')}}" class="brand-logo title-style">Grade Predictor and Analyzer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="large-font"><a href="{{url_for('getCourses')}}">Courses</a></li>
            <li class="large-font"><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="block-style">
    {% if students %}
    <ul class="collection">
        {% for student in students %}
        <li class="collection-item avatar">
            <a href="/courses/{{course_id}}/{{student.id}}">
            <img src="{{url_for('static',filename='img/user_placeholder.png')}}" alt="" class="circle"><span
                    class="title"><strong><p class="black-font">{{student.name}}</p></strong></span>
            <p class="black-font">{{student.gender}} <br>
                {{student.id}}
            </p>
            <a href="#" class="secondary-content"><i class="material-icons">grade</i></a>
            {% endfor %}
            </a>
    </ul>
    {% else %}
    <p>Welcome!</p>
    {% endif %}
</div>
</body>
</html>