<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores of {{student.name}} for {{course.name}}</title>

    <link href="{{url_for('static', filename='css/materialize.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
<nav>
    <div class="nav-wrapper orange darken-3 no-margin">
        <a href="{{url_for('getCourses')}}" class="brand-logo title-style">Grade Predictor and Analyzer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="large-font"><a href="{{url_for('getCourses')}}">Courses</a></li>
            <li class="large-font"><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="blue-grey lighten-3 block-style">
        <h4>Graphs</h4>
</div>
<div id="scoreGraph"></div>
<script>
    var score_labels = JSON.parse({{x_|tojson}})
    var scores_numbers = JSON.parse({{y_|tojson}})

    // Variables for visualization split
    var test_labels = [];
    var test_scores = [];
    var quiz_labels = [];
    var quiz_scores = [];
    var assignment_labels = [];
    var assignment_scores = [];

    for (var i = 0; i < score_labels.length; i++) {
        if (score_labels[i].toLowerCase().indexOf('quiz') !== -1) {
            quiz_labels.push(score_labels[i]);
            quiz_scores.push(scores_numbers[i]);
        } else if (score_labels[i].toLowerCase().indexOf('ass') !== -1) {
            assignment_labels.push(score_labels[i]);
            assignment_scores.push(scores_numbers[i]);
        } else if (score_labels[i].toLowerCase().indexOf('test') !== -1 || score_labels[i].toLowerCase().indexOf('compre') !== -1 || score_labels[i].toLowerCase().indexOf('term') !== -1) {
            test_labels.push(score_labels[i]);
            test_scores.push(scores_numbers[i]);
        }
    }

    var testBarChart = {
        x: test_labels,
        y: test_scores,
        type: 'bar',
        name: 'Tests',
        marker: {color: '#64b5f6'}
    };

    var quizBarChart = {
        x: quiz_labels,
        y: quiz_scores,
        type: 'bar',
        name: 'Quizzes',
        marker: {color: '#81c784'},
        xaxis: 'x2',
        yaxis: 'y2'
    };

    var assignmentsBarChart = {
        x: assignment_labels,
        y: assignment_scores,
        type: 'bar',
        name: 'Assignments',
        marker: {color: '#ffb74d'},
        xaxis: 'x3',
        yaxis: 'y3'
    };

    var completeBarChart = {
        x: score_labels,
        y: scores_numbers,
        type: 'bar',
        name: 'Scores',
        marker: {color: '#ff6e40'},
        xaxis: 'x4',
        yaxis: 'y4'
    };

    var data = [testBarChart,quizBarChart,assignmentsBarChart,completeBarChart];

    var layout = {
        yaxis: {domain: [0.733, 1]},
        xaxis2: {
            domain: [0,0.4],
            anchor: 'y2'},
        yaxis2: {
            domain: [0.366, 0.633],
            anchor: 'x2'
        },
        xaxis3: {
            domain: [0.6,1],
            anchor: 'y3'
            },
        yaxis3: {
            domain: [0.366, 0.633],
            anchor: 'x3'
        },
        xaxis4: {
            anchor: 'y4'
        },
        yaxis4: {
            domain: [0, 0.266],
            anchor: 'x4'
        },
        height: 1000,
        width: 1500,
        font: {
            family: 'Courier New, monospace',
            size: 18,
            color: '#7f7f7f'
            }
    };

    Plotly.newPlot('scoreGraph', data, layout);
</script>
<div class="blue-grey lighten-3 block-style">
        <h4>Scores</h4>
</div>
<div class="block-style">
    {% if scores %}
    <ul class="collection">
        {% for i in scores %}
        <li class="collection-item">
            <p><strong>{{i.name}}</strong>
                <br>
                {{i.score}}
            </p>
            {% endfor %}
    </ul>
    {% else %}
    <h3>Nothing Here Mate</h3>
    {% endif %}
</div>
</body>
</html>