<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores of {{student.name}} for {{course.name}}</title>

    <link href="{{url_for('static', filename='css/materialize.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
<nav>
    <div class="nav-wrapper orange darken-3 no-margin">
        <a href="{{url_for('getCourses')}}" class="brand-logo title-style">Grade Predictor and Analyzer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="large-font"><a href="{{url_for('getCourses')}}">Courses</a></li>
            <li class="large-font"><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="blue-grey lighten-3 block-style">
        <h4>Graphs</h4>
</div>
<div class="row">
    <div class="col s6" id="myDiv"></div>
    <div class="col s6">
        <div class="card blue-grey darken-1 block-style">
            <div class="card-content white-text">
                <div class="row">
                    <p class="col s6 small-font center"><strong>Mid Term Average</strong></p>
                    <p class="col s6 small-font center"><strong>Final Average</strong></p>
                </div>
                <div class="row">
                    <p class="col s6 small-font center">{{course_mid_term_average}}</p>
                    <p class="col s6 small-font center">{{course_final_average}}</p>
                </div>
                <div class="row">
                    <p class="col s12 small-font center" id="state"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var percentage_scores = JSON.parse({{max_scores | tojson}})
    var score_labels = JSON.parse({{x_|tojson}})

    var data = [{
        values: percentage_scores,
        labels: score_labels,
        type: 'pie',
        textfont: {
            color: '#ffffff'
        }
    }];

    var layout = {
        height: 400,
        width: 500,
        title: 'Component Weightage',
        font: {
            family: 'Courier New, monospace',
            size: 18,
            color: '#7f7f7f'
            }
    };

    Plotly.newPlot('myDiv', data, layout);
</script>
<div id="scoreGraph"></div>
<script>
    function round(value, decimals) {
        return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
    }

    var score_labels = JSON.parse({{x_|tojson}})
    var scores_percentages = JSON.parse({{y_percentages|tojson}})
    var course_averages = JSON.parse({{course_averages_for_plot | tojson}})
    var scores_actual = JSON.parse({{y_actual|tojson}})
    var max_scores = JSON.parse({{max_scores|tojson}})

    var state = 0;

    // Variables for visualization split
    var test_labels = [];
    var test_scores = [];
    var quiz_labels = [];
    var quiz_scores = [];
    var assignment_labels = [];
    var assignment_scores = [];

    for (var i = 0; i < score_labels.length; i++) {
        if (score_labels[i].toLowerCase().indexOf('quiz') !== -1) {
            quiz_labels.push(score_labels[i]);
            quiz_scores.push(round(scores_actual[i],2));
        } else if (score_labels[i].toLowerCase().indexOf('ass') !== -1) {
            assignment_labels.push(score_labels[i]);
            assignment_scores.push(round(scores_actual[i],2));
        } else if (score_labels[i].toLowerCase().indexOf('test') !== -1 || score_labels[i].toLowerCase().indexOf('compre') !== -1 || score_labels[i].toLowerCase().indexOf('term') !== -1) {
            test_labels.push(score_labels[i]);
            test_scores.push(round(scores_actual[i],2));
        }
    }

    var hovertext = [];
    var averages = [];

    for (var key in score_labels) {
        if (course_averages.hasOwnProperty(score_labels[key])) {
            averages.push(round(course_averages[score_labels[key]]*100/max_scores[key],2));
            var diff = Number(scores_actual[key]) - Number(course_averages[score_labels[key]]);
            state += diff;
            if ( diff >= 0) {
                hovertext.push("Average + "  + round(diff,2));
            } else if ( diff === 0 ) {
                hovertext.push("Average");
            } else {
                hovertext.push("Average - "  +  (-round(diff,2)));
            }
        }
    }


    // DOM Manipulation
    if(state > 0 ) {
        document.getElementById("state").innerHTML = "Average + " + round(state, 2);
    } else if ( state === 0) {
        document.getElementById("state").innerHTML = "Average";
    } else {
        document.getElementById("state").innerHTML = "Average - " + (-round(state, 2));
    }

    var testBarChart = {
        x: test_labels,
        y: test_scores,
        text: test_scores,
        textposition: 'auto',
        hoverinfo: 'none',
        textfont: {
            color: '#000000'
        },
        type: 'bar',
        name: 'Tests',
        marker: {color: '#64b5f6'}
    };

    var quizBarChart = {
        x: quiz_labels,
        y: quiz_scores,
        text: quiz_scores,
        textposition: 'auto',
        hoverinfo: 'none',
        textfont: {
            color: '#000000'
        },
        type: 'bar',
        name: 'Quizzes',
        marker: {color: '#81c784'},
        xaxis: 'x2',
        yaxis: 'y2'
    };

    var assignmentsBarChart = {
        x: assignment_labels,
        y: assignment_scores,
        text: assignment_scores,
        textfont: {
            color: '#000000'
        },
        textposition: 'auto',
        hoverinfo: 'none',
        type: 'bar',
        name: 'Assignments',
        marker: {color: '#ffb74d'},
        xaxis: 'x3',
        yaxis: 'y3'
    };

    var completeBarChartPercentagesScores = {
        x: score_labels,
        y: scores_percentages,
        mode: 'lines+markers',
        text: hovertext,
        textposition: 'top',
        textfont: {
            color: '#000000'
        },
        type: 'scatter',
        name: 'Score',
        marker: {color: '#ff6e40'},
        xaxis: 'x4',
        yaxis: 'y4'
    };

    var completeBarChartAverages = {
        x: score_labels,
        y: averages,
        mode: 'lines+markers',
        type: 'scatter',
        name: 'Average',
        marker: {color: '#5c6bc0'},
        xaxis: 'x4',
        yaxis: 'y4'
    };


    var data = [testBarChart,quizBarChart,assignmentsBarChart,completeBarChartPercentagesScores,completeBarChartAverages];

    var layout = {
        yaxis: {
            domain: [0.783, 1],
            title: 'Major Test Scores',
            titlefont: {
                family: 'Courier New, monospace',
                size: 18,
                color: '#7f7f7f'
            }
        },
        xaxis2: {
            domain: [0, 0.4],
            anchor: 'y2'
        },
        yaxis2: {
            domain: [0.466, 0.683],
            anchor: 'x2',
            title: 'Quiz Scores',
            titlefont: {
                family: 'Courier New, monospace',
                size: 18,
                color: '#7f7f7f'
            }
        },
        xaxis3: {
            domain: [0.6, 1],
            anchor: 'y3'
        },
        yaxis3: {
            domain: [0.466, 0.683],
            anchor: 'x3',
            title: 'Assignments Scores',
            titlefont: {
                family: 'Courier New, monospace',
                size: 18,
                color: '#7f7f7f'
            }
        },
        xaxis4: {
            anchor: 'y4'
        },
        yaxis4: {
            domain: [0, 0.366],
            anchor: 'x4',
            title: 'Scores and Averages in Percentage',
            titlefont: {
                family: 'Courier New, monospace',
                size: 18,
                color: '#7f7f7f'
            }
        },
        height: 1200,
        width: 1500,
        font: {
            family: 'Courier New, monospace',
            size: 18,
            color: '#7f7f7f'
        }
    };

    Plotly.newPlot('scoreGraph', data, layout);
</script>
<div class="blue-grey lighten-3 block-style">
        <h4>Scores</h4>
</div>
<div class="block-style">
    {% if scores %}
    <ul class="collection">
        {% for i in scores %}
        <li class="collection-item row">
            <p class="col s11"><strong>{{i.name}}</strong></p>
            <p class="col s1">{{i.score}}</p>
            {% if isAdmin %}
            <form action="{{url_for('editMarks',student_id=student.id,course_id=course.id,test_name=i.name)}}"
                  method="POST" class="row">
                <input name="update-score" placeholder="Updated Marks" class="validate col s2">
                <button name="action" class="btn waves-effect waves-light blue-grey darken-4 col s1">Confirm
                </button>
            </form>
            {% endif %}
            {% endfor %}
    </ul>
    {% else %}
    <h3>Nothing Here Mate</h3>
    {% endif %}
</div>
</body>
</html>