<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores of {{student.name}} for {{course.name}}</title>

    <link href="{{url_for('static', filename='css/materialize.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/epoch.min.css')}}">

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
<nav>
    <div class="nav-wrapper orange accent-3">
        <a href="/" class="brand-logo title-style">Grade Predictor and Analyzer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="large-font"><a href="/courses">Courses</a></li>
            <li class="large-font"><a href="/predictions">Predictor</a></li>
        </ul>
    </div>
</nav>
<div  class="block-style">
    <h4>Graphs</h4>
</div>
<hr>
<div id="scoreGraph"></div>
<script>
var score_labels = JSON.parse({{x_|tojson}})
var scores_numbers = JSON.parse({{y_|tojson}})
var data = [
  {
    x: score_labels,
    y: scores_numbers,
    type: 'bar',
    name: 'Scores',
    marker: {color: '#ff6e40' }
  },
  { x: score_labels,
    y: scores_numbers,
    type: 'scatter',
    name: 'Performance',
    marker: {color: '#993300' }
  }
];
var layout = {
    title: 'Scores',
    yaxis: {tickfont: {
        size: 14
    }},
    xaxis: {
        title: 'Tests',
        titlefont: {
            size: 16,
            color: 'rgb(107, 107, 107)'
        },
        tickfont: {
            size: 14,
            color: 'rgb(107, 107, 107)'
        }
    },
    legend: {
        x: 0,
        y: 1.0,
        bgcolor: 'rgba(255, 255, 255, 0)',
        bordercolor: 'rgba(255, 255, 255, 0)'
    }
};
Plotly.newPlot('scoreGraph', data,layout);
</script>
<div  class="block-style">
    <h4>Scores</h4>
</div>
<hr>
<div class="block-style">
    {% if scores %}
    <ul class="collection">
        {% for i in scores %}
        <li class="collection-item">
            <p><strong>{{i.name}}</strong>
                <br>
                {{i.score}}
            </p>
            {% endfor %}
    </ul>
    {% else %}
    <h3>Gand Mara</h3>
    {% endif %}
</div>
</body>
</html>