<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores of {{user.name}}</title>

    <link href="{{url_for('static', filename='css/materialize.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div class="block-style">
    {% if scores %}
    <ul class="collection">
        {% for i in scores %}
        <li class="collection-item">
            <p>{{i.name}} <br>
                {{i.score}}
            </p>
            {% endfor %}
    </ul>
    {% else %}
    <h3>Welcome to the Scores page!</h3>
    {% endif %}
</div>
</body>
</html>